@import "./variables.scss";

.description {
    &__header {
        font-weight: 800;
        font-size: 250%;
        line-height: 125%;
        text-align: center;
        letter-spacing: -0.5px;
        color: $header;
        margin-bottom: 17px;
    }
    &__subtitle {
        max-width: 768px;
        font-size: 125%;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.25px;
        color: $font_clr;
        margin: 0 auto 80px auto;
    }
    &_items__wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 325px));
        grid-gap: 64px;
        justify-content: center;
    }
    &_item {
        &__img {
            margin-bottom: 16px;
            img {
                margin: 0 auto;
            }
        }
        &__title {
            font-weight: bold;
            font-size: 150%;
            line-height: 142%;
            text-align: center;
            letter-spacing: -0.25px;
            color: $header;
            margin-bottom: 8px;
        }
        &__subtitle {
            font-size: 112.5%;
            line-height: 150%;
            text-align: center;
            letter-spacing: -0.25px;
            color: $font_clr;
        }
    }
    margin-bottom: 80px;
    position: relative;
    ::after {
        content: "";
        width: 70%;
        height: 1px;
        background-color: #33363A;
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 765px) {
    .description_items__wrap {
        grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
        grid-gap: 40px;
    }
}
@media (max-width: 490px) {
    .description {
        margin-top: 25px;
        &__header {
            font-size: 200%;
        }
        &__subtitle {
            font-size: 100%;
            margin-bottom: 40px;
        }
        &_items__wrap {
            grid-gap: 35px;
        }
        &_item__title {
            font-size: 125%;
        }
        &_item__subtitle {
            font-size: 100%;
        }
    }

}