@import "./variables";
.header {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
    }
    &__btns {
        display: flex;
        font-display: row;
        align-items: baseline;
        &_doc {
            line-height: 150%;
            letter-spacing: -0.25px;
            color: #C5D2DC;
            padding-right: 48px;
        }
        &_sign {
            background: $btns_bg;
            box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
            border-radius: 2px;
            padding: 8px 20px;
            margin-bottom: 7px;
        }
        &_sign a {
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.25px;
            color: #FFFFFF;
        }
    }
    &__bg_wrap {
        position: absolute;
        top: 0;
        right: 0;
    }
    margin-bottom: 80px;
}
@media (max-width: 1160px) {
    .header__bg_wrap img {
        display: none;
    }
}
@media (max-width: 490px) {
    .header__btns_doc {
        padding-right: 15px;
    }
}